<div id="ad-banner">
    {% for addsRow in addsObj %}
    <div class="ad">
        <a href="{{ addsRow.link }}"><img src="{{ addsRow.img }}" width="290" height="108" alt=""></a>
    </div>
    {% endfor %}
</div>