<div class="ad_block">
    {% if addsObj %}
    <ul>
        {% for addsRow in addsObj %}
        <li>
            <a href="{{ addsRow.link }}"><img src="{{ url(addsRow.img) }}" width="290" height="108" alt=""></a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    目前無資料
    {% endif %}
</div>