<div class="ad_block_s left">

    <ul>
        {% if addsObj %}
        {% for addsRow in addsObj %}
        <li><a href="{{ addsRow.link }}"><img src="{{ url(addsRow.img) }}" width="290" height="108"  alt=""></a></li>            
        {% endfor %}
        {% else %}
        目前無資料
        {% endif %}

    </ul>

</div>