
<nav>
    <ul>
        <li class="{{ menu["index"] }}"><a href="/">首頁</a></li>
        <li class="{{ menu["apps"] }}"><a href="/apps">聯盟Apps</a></li>
        <li class="{{ menu["news"] }}"><a href="/news">最新消息</a></li>
    </ul>
</nav>