<article id="ad-banner">
    {% if addsObj %}
    {% for addsRow in addsObj %}
    <div class="ad">
    <a href="{{ addsRow.link }}"><img src="{{ url(addsRow.img) }}" width="290" height='108' alt=""></a>
    </div>
    {% endfor %}
    {% endif %}
</article>