{% if bannerOp == "On"%}
<article id="focus">
    <h2>
        <b>24</b>
        <span>hr</span>
        優惠不打烊
    </h2>
    <p>
        為您蒐集食衣住行育樂，各類優惠票券與好康資訊，更是隨取即用的優惠接收器，任何好康優惠都逃不出你的手掌心。
    </p>
    <a href="http://smarturl.it/qbonapp?IQid=qr" class="btn-pink">下載 Qbon App</a>
</article>
{% endif %}
