{% if menuType == "origin" %}

<div id="nav-content">
    <ul>
        <li class="tab-1 {{ menu["index"] }}"><a href="/mobile/index#nav-content">聯盟Apps</a></li>
        <li class="tab-2 {{ menu["how"] }}"><a href="/mobile/how">如何取得</a></li>
        <li class="tab-3 {{ menu["redeem"] }}"><a href="/mobile/redeem">如何兌換</a></li>
    </ul>
</div>

{% endif %}