<h1><a href="index">Qbon</a></h1>
        <span id="btn-menu">選單</span>
        <nav id="nav-menu">
        {% if priorityLinkLogin == "Y"%}
            <ul>
                <li class=""><a href="/mobile/index#nav-content">聯盟APP</a></li>
                <li class=""><a href="/mobilt/how">如何取得</a></li>
                <li class=""><a href="/mobile/redeem">如何兌換</a></li>
            </ul>
        {% else %}
            <ul>
                <li class=""><a href="/mobile/index#nav-content">聯盟APP</a></li>
                <li class=""><a href="/mobilt/how">如何取得</a></li>
                <li class=""><a href="/mobile/redeem">如何兌換</a></li>
            </ul>
        {% endif %}
        </nav>